// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Anton|Major+Mono+Display|Oswald:700');

$primary-font: 'Anton', 'Major Mono Display', monospace;

.font--primary {
    font-family: $primary-font;
    font-size: 55px;
    text-align: center;
}

.font--time {
    background: pink;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: white;
    font-family: $primary-font;
    font-size: 80px;
    margin-top: 0;
    padding: 50px;
    text-align: center;

    -webkit-text-stroke: 1px rgba(0, 0, 0, .25);

    span {
        font-size: 30px;
        margin-left: 5px;
    }
}

.header {
    border-bottom: 1px solid #dedede;

    &:after {
        background-image: none;
    }
}