// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Anton|Major+Mono+Display|Oswald:700');

$primary-font: 'Anton', 'Major Mono Display', monospace;

$color-opacity: .55;
$color-boy: lightskyblue;
$color-girl: pink;
$color-boy-opaque: rgba(135, 206, 250, $color-opacity);
$color-girl-opaque: rgba(255, 192, 203, $color-opacity);

.font--primary {
    font-family: $primary-font;
    font-size: 55px;
    text-align: center;
}

.font--tertiary {
    color: white;
    font-family: $primary-font;
    font-size: 80px;
    margin-top: 0;
    text-align: center;

    -webkit-text-stroke: 1px rgba(0, 0, 0, .25);

    span {
        font-size: 30px;
        margin-left: 5px;
    }
}

.font--time {
    background: $color-girl-opaque;
    // background: $color-boy-opaque;
    padding: 45px;
    width: 100%;
}

.font--amount {
    background: $color-girl-opaque;
    // background: $color-boy-opaque;
    padding: 45px;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 245px;
    position: relative;
}

.container--time::after {
    background: url("assets/imgs/clock1.jpg");
    background-size: cover;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.container--amount::after {
    background: url("assets/imgs/bottle1.jpg");
    background-size: cover;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.header {
    border-bottom: 1px solid #dedede;

    &:after {
        background-image: none;
    }
}